<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="classes">
        <dir
          name="form"/>
        <dir
          name="local">
          <dir
            name="entities"/>
          <dir
            name="externalpage"/>
          <dir
            name="settings"/>
          <dir
            name="systemreports"/>
        </dir>
        <dir
          name="privacy"/>
      </dir>
      <dir
        name="cli"/>
      <dir
        name="mnet"/>
      <dir
        name="registration"/>
      <dir
        name="roles">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
      </dir>
      <dir
        name="settings"/>
      <dir
        name="tool">
        <dir
          name="analytics">
          <dir
            name="amd">
            <dir
              name="build"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="classes">
            <dir
              name="output">
              <dir
                name="form"/>
            </dir>
            <dir
              name="privacy"/>
            <dir
              name="task"/>
          </dir>
          <dir
            name="cli"/>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="availabilityconditions">
          <dir
            name="classes">
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="brickfield">
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="form"/>
            <dir
              name="local">
              <dir
                name="areas">
                <dir
                  name="core_course"/>
                <dir
                  name="core_question"/>
                <dir
                  name="mod_assign"/>
                <dir
                  name="mod_book"/>
                <dir
                  name="mod_chat"/>
                <dir
                  name="mod_choice"/>
                <dir
                  name="mod_data"/>
                <dir
                  name="mod_feedback"/>
                <dir
                  name="mod_folder"/>
                <dir
                  name="mod_forum"/>
                <dir
                  name="mod_glossary"/>
                <dir
                  name="mod_imscp"/>
                <dir
                  name="mod_label"/>
                <dir
                  name="mod_lesson"/>
                <dir
                  name="mod_lti"/>
                <dir
                  name="mod_page"/>
                <dir
                  name="mod_quiz"/>
                <dir
                  name="mod_resource"/>
                <dir
                  name="mod_scorm"/>
                <dir
                  name="mod_survey"/>
                <dir
                  name="mod_url"/>
                <dir
                  name="mod_wiki"/>
                <dir
                  name="mod_workshop"/>
              </dir>
              <dir
                name="htmlchecker">
                <dir
                  name="common">
                  <dir
                    name="checks"/>
                </dir>
                <dir
                  name="guidelines"/>
                <dir
                  name="reporters"/>
              </dir>
              <dir
                name="tool"/>
            </dir>
            <dir
              name="output">
              <dir
                name="activityresults"/>
              <dir
                name="advanced"/>
              <dir
                name="checktyperesults"/>
              <dir
                name="errors"/>
              <dir
                name="printable"/>
            </dir>
            <dir
              name="privacy"/>
            <dir
              name="task"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="capability">
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
          <dir
            name="yui">
            <dir
              name="build">
              <dir
                name="moodle-tool_capability-search"/>
            </dir>
            <dir
              name="src">
              <dir
                name="search">
                <dir
                  name="js"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="cohortroles">
          <dir
            name="classes">
            <dir
              name="form"/>
            <dir
              name="output"/>
            <dir
              name="privacy"/>
            <dir
              name="task"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="componentlibrary">
          <dir
            name="amd">
            <dir
              name="build"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="classes">
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="cli"/>
          <dir
            name="hugo">
            <dir
              name="dist">
              <dir
                name="css"/>
            </dir>
            <dir
              name="site">
              <dir
                name="layouts">
                <dir
                  name="_default"/>
                <dir
                  name="partials"/>
                <dir
                  name="shortcodes"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="customlang">
          <dir
            name="classes">
            <dir
              name="form"/>
            <dir
              name="local">
              <dir
                name="mlang"/>
            </dir>
            <dir
              name="output"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="cli"/>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="dataprivacy">
          <dir
            name="amd">
            <dir
              name="build"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="external"/>
            <dir
              name="form"/>
            <dir
              name="local"/>
            <dir
              name="output"/>
            <dir
              name="privacy"/>
            <dir
              name="task"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="dbtransfer">
          <dir
            name="classes">
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="cli"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="filetypes">
          <dir
            name="classes">
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="generator">
          <dir
            name="classes">
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="cli"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="httpsreplace">
          <dir
            name="classes">
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="cli"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="innodb">
          <dir
            name="classes">
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="installaddon">
          <dir
            name="classes">
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
          <dir
            name="yui">
            <dir
              name="permcheck"/>
          </dir>
        </dir>
        <dir
          name="langimport">
          <dir
            name="amd">
            <dir
              name="build"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="output"/>
            <dir
              name="privacy"/>
            <dir
              name="task"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="licensemanager">
          <dir
            name="amd">
            <dir
              name="build"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="classes">
            <dir
              name="form"/>
            <dir
              name="output"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="log">
          <dir
            name="backup">
            <dir
              name="moodle2"/>
          </dir>
          <dir
            name="classes">
            <dir
              name="helper"/>
            <dir
              name="local">
              <dir
                name="privacy"/>
            </dir>
            <dir
              name="log"/>
            <dir
              name="plugininfo"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
          <dir
            name="store">
            <dir
              name="database">
              <dir
                name="backup">
                <dir
                  name="moodle2"/>
              </dir>
              <dir
                name="classes">
                <dir
                  name="log"/>
                <dir
                  name="privacy"/>
              </dir>
              <dir
                name="db"/>
              <dir
                name="lang">
                <dir
                  name="en"/>
              </dir>
            </dir>
            <dir
              name="legacy">
              <dir
                name="classes">
                <dir
                  name="event"/>
                <dir
                  name="log"/>
                <dir
                  name="privacy"/>
                <dir
                  name="task"/>
              </dir>
              <dir
                name="db"/>
              <dir
                name="lang">
                <dir
                  name="en"/>
              </dir>
            </dir>
            <dir
              name="standard">
              <dir
                name="backup">
                <dir
                  name="moodle2"/>
              </dir>
              <dir
                name="classes">
                <dir
                  name="log"/>
                <dir
                  name="privacy"/>
                <dir
                  name="task"/>
              </dir>
              <dir
                name="db"/>
              <dir
                name="lang">
                <dir
                  name="en"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="lp">
          <dir
            name="amd">
            <dir
              name="build"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="classes">
            <dir
              name="external"/>
            <dir
              name="form"/>
            <dir
              name="output"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
          <dir
            name="yui">
            <dir
              name="build">
              <dir
                name="moodle-tool_lp-dragdrop-reorder"/>
            </dir>
            <dir
              name="src">
              <dir
                name="dragdrop-reorder">
                <dir
                  name="js"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="lpimportcsv">
          <dir
            name="classes">
            <dir
              name="form"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="lpmigrate">
          <dir
            name="classes">
            <dir
              name="form"/>
            <dir
              name="output"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="messageinbound">
          <dir
            name="classes">
            <dir
              name="message">
              <dir
                name="inbound"/>
            </dir>
            <dir
              name="privacy"/>
            <dir
              name="task"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="mobile">
          <dir
            name="classes">
            <dir
              name="output"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="monitor">
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="output">
              <dir
                name="managerules"/>
              <dir
                name="managesubs"/>
            </dir>
            <dir
              name="privacy"/>
            <dir
              name="task"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
          <dir
            name="yui">
            <dir
              name="build">
              <dir
                name="moodle-tool_monitor-dropdown"/>
            </dir>
            <dir
              name="src">
              <dir
                name="dropdown">
                <dir
                  name="js"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="moodlenet">
          <dir
            name="amd">
            <dir
              name="build"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="classes">
            <dir
              name="local"/>
            <dir
              name="output"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="multilangupgrade">
          <dir
            name="classes">
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="oauth2">
          <dir
            name="classes">
            <dir
              name="form"/>
            <dir
              name="output"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="policy">
          <dir
            name="amd">
            <dir
              name="build"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="form"/>
            <dir
              name="output"/>
            <dir
              name="privacy">
              <dir
                name="local">
                <dir
                  name="sitepolicy"/>
              </dir>
            </dir>
            <dir
              name="test"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="profiling">
          <dir
            name="classes">
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="recyclebin">
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="privacy"/>
            <dir
              name="task"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="replace">
          <dir
            name="classes">
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="cli"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="spamcleaner">
          <dir
            name="classes">
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="task">
          <dir
            name="classes">
            <dir
              name="check"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="cli"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="templatelibrary">
          <dir
            name="amd">
            <dir
              name="build"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="classes">
            <dir
              name="output"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="unsuproles">
          <dir
            name="classes">
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="uploadcourse">
          <dir
            name="classes">
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="cli"/>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="uploaduser">
          <dir
            name="classes">
            <dir
              name="local"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="cli"/>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="usertours">
          <dir
            name="amd">
            <dir
              name="build"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="external"/>
            <dir
              name="local">
              <dir
                name="clientside_filter"/>
              <dir
                name="filter"/>
              <dir
                name="forms"/>
              <dir
                name="table"/>
              <dir
                name="target"/>
            </dir>
            <dir
              name="output"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="xmldb">
          <dir
            name="actions">
            <dir
              name="add_persistent_mandatory"/>
            <dir
              name="check_bigints"/>
            <dir
              name="check_defaults"/>
            <dir
              name="check_foreign_keys"/>
            <dir
              name="check_indexes"/>
            <dir
              name="check_oracle_semantics"/>
            <dir
              name="create_xml_file"/>
            <dir
              name="delete_field"/>
            <dir
              name="delete_index"/>
            <dir
              name="delete_key"/>
            <dir
              name="delete_table"/>
            <dir
              name="delete_xml_file"/>
            <dir
              name="edit_field"/>
            <dir
              name="edit_field_save"/>
            <dir
              name="edit_index"/>
            <dir
              name="edit_index_save"/>
            <dir
              name="edit_key"/>
            <dir
              name="edit_key_save"/>
            <dir
              name="edit_table"/>
            <dir
              name="edit_table_save"/>
            <dir
              name="edit_xml_file"/>
            <dir
              name="edit_xml_file_save"/>
            <dir
              name="generate_all_documentation"/>
            <dir
              name="generate_documentation"/>
            <dir
              name="get_db_directories"/>
            <dir
              name="load_xml_file"/>
            <dir
              name="load_xml_files"/>
            <dir
              name="main_view"/>
            <dir
              name="move_updown_field"/>
            <dir
              name="move_updown_index"/>
            <dir
              name="move_updown_key"/>
            <dir
              name="move_updown_table"/>
            <dir
              name="new_field"/>
            <dir
              name="new_index"/>
            <dir
              name="new_key"/>
            <dir
              name="new_table"/>
            <dir
              name="new_table_from_mysql"/>
            <dir
              name="revert_changes"/>
            <dir
              name="save_xml_file"/>
            <dir
              name="template"/>
            <dir
              name="unload_xml_file"/>
            <dir
              name="view_field_xml"/>
            <dir
              name="view_index_xml"/>
            <dir
              name="view_key_xml"/>
            <dir
              name="view_reserved_words"/>
            <dir
              name="view_structure_php"/>
            <dir
              name="view_structure_sql"/>
            <dir
              name="view_structure_xml"/>
            <dir
              name="view_table_php"/>
            <dir
              name="view_table_sql"/>
            <dir
              name="view_table_xml"/>
            <dir
              name="view_xml"/>
          </dir>
          <dir
            name="amd">
            <dir
              name="build"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="classes">
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="user"/>
      <dir
        name="webservice"/>
    </dir>
  </files>
  <languages>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""/>
  <imports/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
