<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="cc">
        <dir
          name="cc_lib">
          <dir
            name="gral_lib"/>
        </dir>
        <dir
          name="includes"/>
        <dir
          name="schemas"/>
        <dir
          name="sheets"/>
      </dir>
      <dir
        name="controller"/>
      <dir
        name="converter">
        <dir
          name="imscc1"/>
        <dir
          name="imscc11"/>
        <dir
          name="moodle1"/>
      </dir>
      <dir
        name="moodle2"/>
      <dir
        name="util">
        <dir
          name="checks"/>
        <dir
          name="dbops"/>
        <dir
          name="factories"/>
        <dir
          name="helper"/>
        <dir
          name="includes"/>
        <dir
          name="interfaces"/>
        <dir
          name="loggers"/>
        <dir
          name="output"/>
        <dir
          name="plan"/>
        <dir
          name="settings">
          <dir
            name="activity"/>
          <dir
            name="course"/>
          <dir
            name="root"/>
          <dir
            name="section"/>
        </dir>
        <dir
          name="structure"/>
        <dir
          name="ui">
          <dir
            name="amd">
            <dir
              name="build"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="classes">
            <dir
              name="copy"/>
            <dir
              name="output"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="yui">
            <dir
              name="build">
              <dir
                name="moodle-backup-backupselectall"/>
              <dir
                name="moodle-backup-confirmcancel"/>
            </dir>
            <dir
              name="src">
              <dir
                name="backupselectall">
                <dir
                  name="js"/>
              </dir>
              <dir
                name="confirmcancel">
                <dir
                  name="js"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="xml">
          <dir
            name="contenttransformer"/>
          <dir
            name="output"/>
          <dir
            name="parser">
            <dir
              name="processors"/>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""/>
  <imports/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
