<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="amd">
        <dir
          name="build">
          <dir
            name="grades">
            <dir
              name="grader">
              <dir
                name="gradingpanel"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="src">
          <dir
            name="grades">
            <dir
              name="grader">
              <dir
                name="gradingpanel"/>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="classes">
        <dir
          name="external"/>
        <dir
          name="grades">
          <dir
            name="grader">
            <dir
              name="gradingpanel">
              <dir
                name="point">
                <dir
                  name="external"/>
              </dir>
              <dir
                name="scale">
                <dir
                  name="external"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="local">
          <dir
            name="gradeitem"/>
        </dir>
        <dir
          name="privacy"/>
      </dir>
      <dir
        name="edit">
        <dir
          name="letter"/>
        <dir
          name="outcome"/>
        <dir
          name="scale"/>
        <dir
          name="settings"/>
        <dir
          name="tree"/>
      </dir>
      <dir
        name="export">
        <dir
          name="ods">
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="txt">
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="xls">
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="xml">
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="grading">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="form">
          <dir
            name="guide">
            <dir
              name="amd">
              <dir
                name="build">
                <dir
                  name="grades">
                  <dir
                    name="grader">
                    <dir
                      name="gradingpanel">
                      <dir
                        name="comments"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="src">
                <dir
                  name="grades">
                  <dir
                    name="grader">
                    <dir
                      name="gradingpanel">
                      <dir
                        name="comments"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="backup">
              <dir
                name="moodle2"/>
            </dir>
            <dir
              name="classes">
              <dir
                name="grades">
                <dir
                  name="grader">
                  <dir
                    name="gradingpanel">
                    <dir
                      name="external"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="privacy"/>
            </dir>
            <dir
              name="db"/>
            <dir
              name="js"/>
            <dir
              name="lang">
              <dir
                name="en"/>
            </dir>
          </dir>
          <dir
            name="rubric">
            <dir
              name="amd">
              <dir
                name="build">
                <dir
                  name="grades">
                  <dir
                    name="grader"/>
                </dir>
              </dir>
              <dir
                name="src">
                <dir
                  name="grades">
                  <dir
                    name="grader"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="backup">
              <dir
                name="moodle2"/>
            </dir>
            <dir
              name="classes">
              <dir
                name="grades">
                <dir
                  name="grader">
                  <dir
                    name="gradingpanel">
                    <dir
                      name="external"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="privacy"/>
            </dir>
            <dir
              name="db"/>
            <dir
              name="js"/>
            <dir
              name="lang">
              <dir
                name="en"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="yui">
          <dir
            name="manage"/>
        </dir>
      </dir>
      <dir
        name="import">
        <dir
          name="csv">
          <dir
            name="classes">
            <dir
              name="output"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="direct">
          <dir
            name="classes">
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="xml">
          <dir
            name="classes">
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="report">
        <dir
          name="grader">
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
          <dir
            name="yui">
            <dir
              name="build">
              <dir
                name="moodle-gradereport_grader-gradereporttable"/>
            </dir>
            <dir
              name="src">
              <dir
                name="gradereporttable">
                <dir
                  name="js"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="history">
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="output"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
          <dir
            name="yui">
            <dir
              name="build">
              <dir
                name="moodle-gradereport_history-userselector"/>
            </dir>
            <dir
              name="src">
              <dir
                name="userselector">
                <dir
                  name="js"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="outcomes">
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="overview">
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="singleview">
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="local">
              <dir
                name="screen"/>
              <dir
                name="ui"/>
            </dir>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="js"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
        <dir
          name="user">
          <dir
            name="classes">
            <dir
              name="event"/>
            <dir
              name="privacy"/>
          </dir>
          <dir
            name="db"/>
          <dir
            name="lang">
            <dir
              name="en"/>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""/>
  <imports/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
