<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="mod_assign_feedback_comments_test"/>
      <dir
        name="mod_assign_feedback_editpdf_test">
        <dir
          name="behat"/>
      </dir>
      <dir
        name="mod_assign_feedback_file_test"/>
      <dir
        name="mod_assign_submission_comments_test"/>
      <dir
        name="mod_assign_submission_file_test">
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_assign_submission_onlinetext_test">
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_assign_test">
        <dir
          name="fixtures"/>
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_assignment_test">
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_bigbluebuttonbn_test">
        <dir
          name="behat"/>
        <dir
          name="external"/>
        <dir
          name="generator"/>
        <dir
          name="local">
          <dir
            name="bigbluebutton">
            <dir
              name="recordings"/>
          </dir>
          <dir
            name="helpers"/>
        </dir>
        <dir
          name="privacy"/>
        <dir
          name="task"/>
      </dir>
      <dir
        name="mod_book_test">
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_book_tool_exportimscp_test"/>
      <dir
        name="mod_book_tool_importhtml_test"/>
      <dir
        name="mod_book_tool_print_test"/>
      <dir
        name="mod_chat_test">
        <dir
          name="behat"/>
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_choice_test">
        <dir
          name="behat"/>
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_data_test">
        <dir
          name="behat"/>
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_feedback_test">
        <dir
          name="behat"/>
        <dir
          name="fixtures"/>
        <dir
          name="form"/>
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_folder_test">
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_forum_report_summary_test"/>
      <dir
        name="mod_forum_test">
        <dir
          name="behat"/>
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_glossary_test">
        <dir
          name="behat"/>
        <dir
          name="external"/>
        <dir
          name="fixtures"/>
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_h5pactivity_test">
        <dir
          name="event"/>
        <dir
          name="external"/>
        <dir
          name="generator"/>
        <dir
          name="local"/>
        <dir
          name="xapi"/>
      </dir>
      <dir
        name="mod_imscp_test">
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_label_test">
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_lesson_test">
        <dir
          name="behat"/>
        <dir
          name="fixtures"/>
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_lti_service_gradebookservices_test"/>
      <dir
        name="mod_lti_service_memberships_test"/>
      <dir
        name="mod_lti_test">
        <dir
          name="event"/>
        <dir
          name="external"/>
        <dir
          name="fixtures"/>
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_page_test">
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_quiz_accessrule_delaybetweenattempts_test"/>
      <dir
        name="mod_quiz_accessrule_ipaddress_test"/>
      <dir
        name="mod_quiz_accessrule_numattempts_test"/>
      <dir
        name="mod_quiz_accessrule_offlineattempts_test"/>
      <dir
        name="mod_quiz_accessrule_openclosedate_test"/>
      <dir
        name="mod_quiz_accessrule_password_test"/>
      <dir
        name="mod_quiz_accessrule_seb_test">
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_quiz_accessrule_securewindow_test"/>
      <dir
        name="mod_quiz_accessrule_timelimit_test"/>
      <dir
        name="mod_quiz_report_grading_test"/>
      <dir
        name="mod_quiz_report_overview_test"/>
      <dir
        name="mod_quiz_report_responses_test"/>
      <dir
        name="mod_quiz_report_statistics_test"/>
      <dir
        name="mod_quiz_test">
        <dir
          name="behat"/>
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_resource_test">
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_scorm_report_basic_test"/>
      <dir
        name="mod_scorm_report_interactions_test"/>
      <dir
        name="mod_scorm_report_objectives_test"/>
      <dir
        name="mod_scorm_test">
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_survey_test">
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_url_test">
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_wiki_test">
        <dir
          name="generator"/>
      </dir>
      <dir
        name="mod_workshop_allocation_manual_test">
        <dir
          name="behat"/>
      </dir>
      <dir
        name="mod_workshop_allocation_random_test"/>
      <dir
        name="mod_workshop_eval_best_test"/>
      <dir
        name="mod_workshop_form_accumulative_test"/>
      <dir
        name="mod_workshop_form_comments_test"/>
      <dir
        name="mod_workshop_form_numerrors_test"/>
      <dir
        name="mod_workshop_form_rubric_test"/>
      <dir
        name="mod_workshop_test">
        <dir
          name="behat"/>
        <dir
          name="fixtures"/>
        <dir
          name="generator"/>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""/>
  <imports/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
