<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="accessreview">
        <dir
          name="amd">
          <dir
            name="build"/>
          <dir
            name="src"/>
        </dir>
        <dir
          name="classes">
          <dir
            name="external"/>
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="activity_modules">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="activity_results">
        <dir
          name="backup">
          <dir
            name="moodle2"/>
        </dir>
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="admin_bookmarks">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="amd">
        <dir
          name="build"/>
        <dir
          name="src"/>
      </dir>
      <dir
        name="badges">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="blog_menu">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="blog_recent">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="blog_tags">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="calendar_month">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="calendar_upcoming">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="classes">
        <dir
          name="external"/>
        <dir
          name="local">
          <dir
            name="views"/>
        </dir>
        <dir
          name="privacy"/>
      </dir>
      <dir
        name="comments">
        <dir
          name="classes">
          <dir
            name="event"/>
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="completionstatus">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="course_list">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="course_summary">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="feedback">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="globalsearch">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="glossary_random">
        <dir
          name="backup">
          <dir
            name="moodle2"/>
        </dir>
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="html">
        <dir
          name="backup">
          <dir
            name="moodle1"/>
          <dir
            name="moodle2"/>
        </dir>
        <dir
          name="classes">
          <dir
            name="privacy"/>
          <dir
            name="search"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="login">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="lp">
        <dir
          name="classes">
          <dir
            name="output"/>
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="mentees">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="mnet_hosts">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="myoverview">
        <dir
          name="amd">
          <dir
            name="build"/>
          <dir
            name="src"/>
        </dir>
        <dir
          name="classes">
          <dir
            name="output"/>
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="myprofile">
        <dir
          name="classes">
          <dir
            name="output"/>
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="navigation">
        <dir
          name="amd">
          <dir
            name="build"/>
          <dir
            name="src"/>
        </dir>
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="news_items">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="online_users">
        <dir
          name="amd">
          <dir
            name="build"/>
          <dir
            name="src"/>
        </dir>
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="private_files">
        <dir
          name="amd">
          <dir
            name="build"/>
          <dir
            name="src"/>
        </dir>
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="recent_activity">
        <dir
          name="classes">
          <dir
            name="privacy"/>
          <dir
            name="task"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="recentlyaccessedcourses">
        <dir
          name="amd">
          <dir
            name="build"/>
          <dir
            name="src"/>
        </dir>
        <dir
          name="classes">
          <dir
            name="output"/>
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="recentlyaccesseditems">
        <dir
          name="amd">
          <dir
            name="build"/>
          <dir
            name="src"/>
        </dir>
        <dir
          name="classes">
          <dir
            name="external"/>
          <dir
            name="output"/>
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="rss_client">
        <dir
          name="backup">
          <dir
            name="moodle1"/>
          <dir
            name="moodle2"/>
        </dir>
        <dir
          name="classes">
          <dir
            name="output"/>
          <dir
            name="privacy"/>
          <dir
            name="task"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="search_forums">
        <dir
          name="classes">
          <dir
            name="output"/>
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="section_links">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="selfcompletion">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="settings">
        <dir
          name="amd">
          <dir
            name="build"/>
          <dir
            name="src"/>
        </dir>
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="site_main_menu">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="social_activities">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="starredcourses">
        <dir
          name="amd">
          <dir
            name="build"/>
          <dir
            name="src"/>
        </dir>
        <dir
          name="classes">
          <dir
            name="output"/>
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="tag_flickr">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="tag_youtube">
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="tags">
        <dir
          name="backup">
          <dir
            name="moodle2"/>
        </dir>
        <dir
          name="classes">
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
      <dir
        name="timeline">
        <dir
          name="amd">
          <dir
            name="build"/>
          <dir
            name="src"/>
        </dir>
        <dir
          name="classes">
          <dir
            name="output"/>
          <dir
            name="privacy"/>
        </dir>
        <dir
          name="db"/>
        <dir
          name="lang">
          <dir
            name="en"/>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""/>
  <imports/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
