<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="lang">
        <dir
          name="ab"/>
        <dir
          name="af"/>
        <dir
          name="am"/>
        <dir
          name="an"/>
        <dir
          name="ar"/>
        <dir
          name="ar_wp"/>
        <dir
          name="arn"/>
        <dir
          name="ast"/>
        <dir
          name="az"/>
        <dir
          name="ba"/>
        <dir
          name="bar"/>
        <dir
          name="be"/>
        <dir
          name="bg"/>
        <dir
          name="bi"/>
        <dir
          name="bm"/>
        <dir
          name="bn"/>
        <dir
          name="br"/>
        <dir
          name="bs"/>
        <dir
          name="ca"/>
        <dir
          name="ca_valencia"/>
        <dir
          name="ca_valencia_racv"/>
        <dir
          name="ca_wp"/>
        <dir
          name="ckb"/>
        <dir
          name="cs"/>
        <dir
          name="cy"/>
        <dir
          name="da"/>
        <dir
          name="da_kursus"/>
        <dir
          name="da_rum"/>
        <dir
          name="da_wp"/>
        <dir
          name="de"/>
        <dir
          name="de_ch"/>
        <dir
          name="de_comm"/>
        <dir
          name="de_du"/>
        <dir
          name="de_kids"/>
        <dir
          name="de_wp"/>
        <dir
          name="dsb"/>
        <dir
          name="dv"/>
        <dir
          name="dz"/>
        <dir
          name="ee"/>
        <dir
          name="el"/>
        <dir
          name="el_kids"/>
        <dir
          name="el_uni"/>
        <dir
          name="el_wp"/>
        <dir
          name="en"/>
        <dir
          name="en_ar"/>
        <dir
          name="en_kids"/>
        <dir
          name="en_us"/>
        <dir
          name="en_us_k12"/>
        <dir
          name="en_us_wp"/>
        <dir
          name="en_wp"/>
        <dir
          name="eo"/>
        <dir
          name="es"/>
        <dir
          name="es_co"/>
        <dir
          name="es_mx"/>
        <dir
          name="es_mx_kids"/>
        <dir
          name="es_ve"/>
        <dir
          name="es_wp"/>
        <dir
          name="et"/>
        <dir
          name="eu"/>
        <dir
          name="fa"/>
        <dir
          name="fi"/>
        <dir
          name="fi_co"/>
        <dir
          name="fil"/>
        <dir
          name="fj"/>
        <dir
          name="fkv"/>
        <dir
          name="fo"/>
        <dir
          name="fr"/>
        <dir
          name="fr_ca"/>
        <dir
          name="fr_incl"/>
        <dir
          name="fr_wp"/>
        <dir
          name="ga"/>
        <dir
          name="gd"/>
        <dir
          name="gl"/>
        <dir
          name="gu"/>
        <dir
          name="ha"/>
        <dir
          name="hat"/>
        <dir
          name="haw"/>
        <dir
          name="he"/>
        <dir
          name="he_kids"/>
        <dir
          name="he_wp"/>
        <dir
          name="hi"/>
        <dir
          name="hi_kids"/>
        <dir
          name="hi_wp"/>
        <dir
          name="hr"/>
        <dir
          name="hr_schools"/>
        <dir
          name="hsb"/>
        <dir
          name="hu"/>
        <dir
          name="hy"/>
        <dir
          name="id"/>
        <dir
          name="ig"/>
        <dir
          name="is"/>
        <dir
          name="it"/>
        <dir
          name="it_wp"/>
        <dir
          name="iu"/>
        <dir
          name="ja"/>
        <dir
          name="ja_kids"/>
        <dir
          name="ja_wp"/>
        <dir
          name="ka"/>
        <dir
          name="kaa"/>
        <dir
          name="kab"/>
        <dir
          name="kk"/>
        <dir
          name="kl"/>
        <dir
          name="km"/>
        <dir
          name="kmr"/>
        <dir
          name="kn"/>
        <dir
          name="ko"/>
        <dir
          name="ky"/>
        <dir
          name="la"/>
        <dir
          name="lb"/>
        <dir
          name="lo"/>
        <dir
          name="lt"/>
        <dir
          name="lt_uni"/>
        <dir
          name="lv"/>
        <dir
          name="mg"/>
        <dir
          name="mh"/>
        <dir
          name="mi"/>
        <dir
          name="mi_tn"/>
        <dir
          name="mi_wwow"/>
        <dir
          name="mis"/>
        <dir
          name="mk"/>
        <dir
          name="ml"/>
        <dir
          name="mn"/>
        <dir
          name="mn_mong"/>
        <dir
          name="mr"/>
        <dir
          name="ms"/>
        <dir
          name="mwl"/>
        <dir
          name="my"/>
        <dir
          name="nb"/>
        <dir
          name="ne"/>
        <dir
          name="nl"/>
        <dir
          name="nl_wp"/>
        <dir
          name="nn"/>
        <dir
          name="no"/>
        <dir
          name="no_gr"/>
        <dir
          name="no_wp"/>
        <dir
          name="oc_es"/>
        <dir
          name="oc_gsc"/>
        <dir
          name="oc_lnc"/>
        <dir
          name="om"/>
        <dir
          name="or"/>
        <dir
          name="pan"/>
        <dir
          name="pcm"/>
        <dir
          name="pl"/>
        <dir
          name="prs"/>
        <dir
          name="ps"/>
        <dir
          name="pt"/>
        <dir
          name="pt_br"/>
        <dir
          name="pt_br_wp"/>
        <dir
          name="rm_surs"/>
        <dir
          name="ro"/>
        <dir
          name="ro_wp"/>
        <dir
          name="ru"/>
        <dir
          name="rw"/>
        <dir
          name="sc"/>
        <dir
          name="scn"/>
        <dir
          name="sd_ap"/>
        <dir
          name="se"/>
        <dir
          name="si"/>
        <dir
          name="sk"/>
        <dir
          name="sl"/>
        <dir
          name="sm"/>
        <dir
          name="sma"/>
        <dir
          name="smj"/>
        <dir
          name="so"/>
        <dir
          name="sq"/>
        <dir
          name="sr_cr"/>
        <dir
          name="sr_lt"/>
        <dir
          name="sv"/>
        <dir
          name="sv_fi"/>
        <dir
          name="sw"/>
        <dir
          name="ta"/>
        <dir
          name="ta_lk"/>
        <dir
          name="te"/>
        <dir
          name="tet"/>
        <dir
          name="tg"/>
        <dir
          name="th"/>
        <dir
          name="ti"/>
        <dir
          name="tk"/>
        <dir
          name="tl"/>
        <dir
          name="tn"/>
        <dir
          name="to"/>
        <dir
          name="tpi"/>
        <dir
          name="tr"/>
        <dir
          name="tt"/>
        <dir
          name="ug_lt"/>
        <dir
          name="ug_ug"/>
        <dir
          name="uk"/>
        <dir
          name="ur"/>
        <dir
          name="uz"/>
        <dir
          name="vi"/>
        <dir
          name="wo"/>
        <dir
          name="xct"/>
        <dir
          name="yo"/>
        <dir
          name="zgh"/>
        <dir
          name="zh_cn"/>
        <dir
          name="zh_cn_wp"/>
        <dir
          name="zh_tw"/>
        <dir
          name="zh_tw_wp"/>
        <dir
          name="zu"/>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""/>
  <imports/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
