<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="question_bank_bulkmove_test"/>
      <dir
        name="question_bank_comment_test">
        <dir
          name="behat"/>
        <dir
          name="event"/>
        <dir
          name="privacy"/>
      </dir>
      <dir
        name="question_bank_exporttoxml_test"/>
      <dir
        name="question_bank_managecategories_test"/>
      <dir
        name="question_bank_previewquestion_test"/>
      <dir
        name="question_bank_statistics_test"/>
      <dir
        name="question_bank_tagquestion_test">
        <dir
          name="external"/>
      </dir>
      <dir
        name="question_bank_usage_test">
        <dir
          name="behat"/>
      </dir>
      <dir
        name="question_behaviour_adaptive_test"/>
      <dir
        name="question_behaviour_adaptivenopenalty_test"/>
      <dir
        name="question_behaviour_deferredcbm_test"/>
      <dir
        name="question_behaviour_deferredfeedback_test"/>
      <dir
        name="question_behaviour_immediatecbm_test"/>
      <dir
        name="question_behaviour_immediatefeedback_test"/>
      <dir
        name="question_behaviour_informationitem_test"/>
      <dir
        name="question_behaviour_interactive_test"/>
      <dir
        name="question_behaviour_interactivecountback_test"/>
      <dir
        name="question_behaviour_manualgraded_test"/>
      <dir
        name="question_behaviour_missing_test"/>
      <dir
        name="question_engine_test"/>
      <dir
        name="question_engine_upgrade_test"/>
      <dir
        name="question_format_aiken_test"/>
      <dir
        name="question_format_blackboard_six_test"/>
      <dir
        name="question_format_gift_test"/>
      <dir
        name="question_format_multianswer_test"/>
      <dir
        name="question_format_xml_test">
        <dir
          name="fixtures"/>
      </dir>
      <dir
        name="question_test">
        <dir
          name="behat"/>
        <dir
          name="fixtures"/>
        <dir
          name="generator"/>
      </dir>
      <dir
        name="question_type_calculated_test"/>
      <dir
        name="question_type_calculatedmulti_test"/>
      <dir
        name="question_type_calculatedsimple_test"/>
      <dir
        name="question_type_ddimageortext_test">
        <dir
          name="behat"/>
        <dir
          name="fixtures"/>
      </dir>
      <dir
        name="question_type_ddmarker_test">
        <dir
          name="behat"/>
        <dir
          name="fixtures"/>
      </dir>
      <dir
        name="question_type_ddwtos_test">
        <dir
          name="behat"/>
        <dir
          name="fixtures"/>
      </dir>
      <dir
        name="question_type_description_test">
        <dir
          name="fixtures"/>
      </dir>
      <dir
        name="question_type_essay_test">
        <dir
          name="fixtures"/>
      </dir>
      <dir
        name="question_type_gapselect_test">
        <dir
          name="behat"/>
        <dir
          name="fixtures"/>
      </dir>
      <dir
        name="question_type_match_test">
        <dir
          name="fixtures"/>
      </dir>
      <dir
        name="question_type_missingtype_test"/>
      <dir
        name="question_type_multianswer_test"/>
      <dir
        name="question_type_multichoice_test">
        <dir
          name="behat"/>
        <dir
          name="fixtures"/>
      </dir>
      <dir
        name="question_type_numerical_test">
        <dir
          name="fixtures"/>
      </dir>
      <dir
        name="question_type_random_test"/>
      <dir
        name="question_type_randomsamatch_test"/>
      <dir
        name="question_type_shortanswer_test">
        <dir
          name="fixtures"/>
      </dir>
      <dir
        name="question_type_test"/>
      <dir
        name="question_type_truefalse_test">
        <dir
          name="fixtures"/>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""/>
  <imports/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
